.wrapper {
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
}
.fixed-body{
    overflow: hidden;
}
.heading-h2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1.5em 0 2em;
    font-size: 3.5rem;
    white-space: nowrap;
    font-family: 'Playfair Display';

    &::before, &::after{
        content: '';
        width: 100%;
        margin: 0 .8em;
        border-bottom: 1px solid $base-color;
        
    }
}